/* Druk Wide Text */
@font-face {
    font-family: "DrukWideText";
    src: local("DrukWideText"),
        url("./assets/fonts/DrukTextWide-Medium-Trial.otf") format("truetype");
}

@font-face {
    font-family: "DrukWideTextHeavy";
    src: local("DrukWideTextHeavy"),
        url("./assets/fonts/DrukTextWide-Heavy-Trial.otf") format("truetype");
}

@font-face {
    font-family: "DrukWideTextItalic";
    src: local("DrukWideTextItalic"),
        url("./assets/fonts/DrukTextWide-MediumItalic-Trial.otf") format("truetype");
}

/* GT Flexa */
@font-face {
    font-family: "GTFlexaCompressedLight";
    src: local("GTFlexaCompressedLight"),
        url("./assets/fonts/GT-Flexa-Compressed-Light.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCompressedRegular";
    src: local("GTFlexaCompressedRegular"),
        url("./assets/fonts/GT-Flexa-Compressed-Regular.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCompressedMedium";
    src: local("GTFlexaCompressedMedium"),
        url("./assets/fonts/GT-Flexa-Compressed-Medium.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCompressedBold";
    src: local("GTFlexaCompressedBold"),
        url("./assets/fonts/GT-Flexa-Compressed-Bold.otf") format("truetype");
}

/* Regular*/
@font-face {
    font-family: "GTFlexaXCompressedLight";
    src: local("GTFlexaXCompressedLight"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Light.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaXCompressedRegular";
    src: local("GTFlexaXCompressedRegular"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Regular.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaXCompressedMedium";
    src: local("GTFlexaXCompressedMedium"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Medium.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaXCompressedBold";
    src: local("GTFlexaXCompressedBold"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Bold.otf") format("truetype");
}

/* Italic */
@font-face {
    font-family: "GTFlexaXCompressedLightItalic";
    src: local("GTFlexaXCompressedLightItalic"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Light-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaXCompressedRegularItalic";
    src: local("GTFlexaXCompressedRegularItalic"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Regular-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaXCompressedMediumItalic";
    src: local("GTFlexaXCompressedMediumItalic"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Medium-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaXCompressedBoldItalic";
    src: local("GTFlexaXCompressedBoldItalic"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Bold-Italic.otf") format("truetype");
}

/*Extras*/
@font-face {
    font-family: "GTFlexaRegularItalic";
    src: local("GTFlexaRegularItalic"),
        url("./assets/fonts/GT-Flexa-Standard-Regular-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaMediumItalic";
    src: local("GTFlexaMediumItalic"),
        url("./assets/fonts/GT-Flexa-Standard-Medium-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCompressedBoldItalic";
    src: local("GTFlexaCompressedBoldItalic"),
        url("./assets/fonts/GT-Flexa-Compressed-Bold-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCondensedBold";
    src: local("GTFlexaCondensedBold"),
        url("./assets/fonts/GT-Flexa-Condensed-Bold.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCondensedBoldItalic";
    src: local("GTFlexaCondensedBoldItalic"),
        url("./assets/fonts/GT-Flexa-Condensed-Bold-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaExtendedMediumItalic";
    src: local("GTFlexaExtendedMediumItalic"),
        url("./assets/fonts/GT-Flexa-Extended-Medium-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaExpandedBoldItalic";
    src: local("GTFlexaExpandedBoldItalic"),
        url("./assets/fonts/GT-Flexa-Expanded-Bold-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaXCompressedThinItalic";
    src: local("GTFlexaXCompressedThinItalic"),
        url("./assets/fonts/GT-Flexa-X-Compressed-Thin-Italic.otf") format("truetype");
}


@font-face {
    font-family: "GTFlexaBoldItalic";
    src: local("GTFlexaBoldItalic"),
        url("./assets/fonts/GT-Flexa-Standard-Bold-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCompressedThinItalic";
    src: local("GTFlexaCompressedThinItalic"),
        url("./assets/fonts/GT-Flexa-Compressed-Thin-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCompressedMediumItalic";
    src: local("GTFlexaCompressedMediumItalic"),
        url("./assets/fonts/GT-Flexa-Compressed-Medium-Italic.otf") format("truetype");
}

@font-face {
    font-family: "GTFlexaCondensedRegular";
    src: local("GTFlexaCondensedRegular"),
        url("./assets/fonts/GT-Flexa-Condensed-Regular.otf") format("truetype");
}

:root {
    --green-main: #00F645;
    --green-second: #00A40C;
    --green-third: #00FFB1;
    --green-fouth: #BEFF00;
    --blue-main: #1B00DD;
    --blue-second: #235BFF;
    --blue-third: #4975FF;
    --purple: #780BEE;
    --pink-main: #FF0088;
    --pink-second: #FF0049;
    --pink-third: #FF4171;
    --yellow-main: #E4B000;
    --yellow-second: #FFD100;
    --yellow-third: #FFE24F;
    --orange: #FF6700;
    --white: #FFF;
    --black: #000;
    --gray-first: #111;
    --gray-second: #1F1F1F;
    --gray-third: #636363;
    --gray-fourth: #b3b3b3;
    --brown: #c25d00;
    --diamond: #9CFEF8;
    --global-rem: .8vw;

}


* {
    font-family: "GTFlexaXCompressedRegularItalic";
    color: var(--white);
}

html {
    overflow-x: hidden;
    font-size: var(--global-rem);
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    font-size: 1rem;
    position: fixed;
    background: linear-gradient(90deg, #042f86, #000243);
    z-index: 2;
}

.nav.mobile {
    display: none;
}

.nav .bottomBorder {
    position: absolute;
    width: 100vw;
    height: 1px;
    bottom: 0;
}

.nav .bottomBorder>div {
    width: 30vw;
    height: 1px;
    background: var(--green-fouth);
}

.nav .bottomBorder .left {
    position: absolute;
    left: calc(5px + 15%);
    bottom: 0;
    width: 35vw;
    height: 1px;
    background: var(--green-fouth);
}

.nav .bottomBorder .right {
    position: absolute;
    right: calc(5px + 15%);
    bottom: 0;
    width: 35vw;
    height: 1px;
    background: var(--green-fouth);
}

.nav.scrolled .bottomBorder .left,
.nav.scrolled .bottomBorder .right {
    width: 32vw;
}

.nav .elements {
    display: flex;
    justify-content: center;
}

.nav .elements .logo {
    position: absolute;
    bottom: 0%;
    left: 17%;
    transform: translate(-50%, -50%);
    transition-duration: .8s;
}

.nav.scrolled .elements .logo {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav .elements .language>div {
    color: var(--white);
    font-family: 'GTFlexaExtendedMediumItalic';
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav .elements .language>div.selected {
    color: var(--green-main);
}

.nav .elements .language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    max-height: 7vh;
    gap: 30px;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav .elements .fixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 5px 0px;
    font-size: 1rem;
    height: 7vh;
    width: 60%;
    transform: translateX(5%);
    transition-duration: 1.2s;
}


.nav.scrolled .elements .fixed {
    width: 70%;
    transform: translateX(0%);
}

.nav .elements .fixed>a {
    color: var(--green-main);
    font-family: 'GTFlexaExtendedMediumItalic';
    max-width: 10%;
    text-align: center;
    cursor: pointer;
}

.nav .elements .logo {
    background: url(./Assets/Icons/ShieldShirtum.svg);
    background-size: cover;
    aspect-ratio: 4/5;
    width: 2rem;
}

.nav .elements .fixed .myshi {
    background: url(./Assets/Icons/myshiBtnBackground.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 1.7rem;
    color: var(--black);
    font-family: 'GTFlexaExpandedBoldItalic';
    transition-duration: .8s;
}

.nav.scrolled .elements .fixed .myshi {
    background: url(./Assets/Icons/myshiBtnBackgroundScrolled.svg);
    color: var(--green-fouth);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sideNav {
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    z-index: 4;
}

.sideNav .buyShi {
    background: url(./Assets/Icons/SHI.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    transform: translateX(-12%);
    width: 130%;
    cursor: pointer;
}

.sideNav .socials {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--purple);
}

.sideNav .socials>div {
    aspect-ratio: 1;
    width: 100%;
    cursor: pointer;
}

.sideNav .socials .telegram {
    background: url(./Assets/Icons/Telegram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sideNav .socials .discord {
    background: url(./Assets/Icons/discord.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sideNav .socials .instagram {
    background: url(./Assets/Icons/Instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sideNav .socials .twitter {
    background: url(./Assets/Icons/Twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sideNav .socials .twitch {
    background: url(./Assets/Icons/Twitch.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sideNav .socials .tiktok {
    background: url(./Assets/Icons/TikTok.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.first {
    background: url(./Assets/img/BackGround.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.first .header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4%;
}

.first .header .titleWrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 10px;
}

.first .header .description {
    width: 100%;
    overflow: hidden;
}

.first .header .description .textsCarousel {
    display: flex;
    width: 400%;
    animation-name: carousel;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.first .header .description .textsCarousel .text {
    font-family: 'GTFlexaRegularItalic';
    flex: 2;
    font-size: 1.3rem;
}

.first .header .titleWrapper .title {
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    line-height: .8;
}

.first .header .titleWrapper .btn.club {
    font-family: 'GTFlexaCondensedBold';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.4rem;
    width: 40%;
    color: var(--green-main);
    box-shadow: 0px 0px 10px 0px var(--green-fouth);
    cursor: pointer;
}

.first .header .titleWrapper .title .shirtum {
    font-family: 'GTFlexaCompressedBoldItalic';
    color: var(--green-main);
}

.second {
    background: #0f002d;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 0 15%;
}

.second .left {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.second .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
}

.second .left .title {
    font-size: 7rem;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 0 10%;
}

.second .left .title img {
    width: 4rem;
}

.second .left .title .shirtum {
    font-family: 'GTFlexaXCompressedThinItalic';
}

.second .left .title .number {
    font-family: 'GTFlexaXCompressedRegularItalic';
}

.second .left .title .club {
    font-family: 'GTFlexaXCompressedBoldItalic';
    color: var(--green-fouth);
}

.second .left .boxWrapper {
    display: flex;
}

.second .left .boxWrapper .box {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
}

.second .left .boxWrapper .box.basic {
    background: url(./Assets/img/Rectangle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 1.7rem;
    max-height: 50vh;
}

.second .left .boxWrapper .box.numbers {
    background: url(./Assets/img/RectangleNumbers.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 1.8rem;
    position: relative;
}

.second .left .boxWrapper .box.numbers>div {
    font-family: 'GTFlexaBoldItalic';
    max-width: 70%;
    padding-left: 20%;
    position: absolute;
}

.second .left .boxWrapper .box.numbers .one {
    top: 15%;
    left: 6%;
}

.second .left .boxWrapper .box.numbers .two {
    top: 42%;
    left: 3%;
}

.second .left .boxWrapper .box.numbers .three {
    top: 66%;
}

.second .left .boxWrapper .box.basic>div {
    font-family: 'GTFlexaRegularItalic';
    max-width: 70%;
    padding: 0 15%;
}

.second .left .boxWrapper .box.basic>div span {
    font-family: 'GTFlexaMediumItalic';
    color: var(--green-fouth);
}

.second .right .buyShi {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 20px;
}

.second .right .buyShi .text {
    font-family: 'GTFlexaCondensedBoldItalic';
}

.second .right .buyShi .busdWrapper,
.second .right .buyShi .shiWrapper {
    display: flex;
    justify-content: space-between;

}

.second .right .buyShi>div .btn {
    border: 1px solid var(--green-fouth);
    width: 45%;
    padding: 10px 0px 10px 15%;
    font-family: 'GTFlexaBoldItalic';
    font-size: 2rem;
    color: var(--green-fouth);
    cursor: pointer;
}

.second .right .buyShi>div span {
    width: 30%;
    border-bottom: 1px solid var(--green-fouth);
}

.right .extras {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right .extras .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right .extras .btnWrapper>a {
    border: 1px solid var(--green-fouth);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.right .extras .btnWrapper>a>img {
    max-height: 25px;
}

.right .extras .btn.whitepaper {
    font-size: 3rem;
    font-family: 'GTFlexaCondensedBoldItalic';
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    color: var(--green-fouth);
    border-radius: 10px;
    border: 1px solid var(--green-fouth);
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.third {
    height: 180vh;
    background: url(./Assets/img/BackGround3.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 0 15%;
    flex-direction: column;
}


.third .title {
    font-size: 7rem;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding-right: 30%;
}


.third .title img {
    width: 4rem;
}

.third .title .shirtum {
    font-family: 'GTFlexaXCompressedThinItalic';
}

.third .title .number {
    font-family: 'GTFlexaXCompressedRegularItalic';
}

.third .title .collectibles {
    font-family: 'GTFlexaXCompressedBoldItalic';
    color: var(--green-fouth);
}

.third .description {
    font-family: 'GTFlexaRegularItalic';
    width: 70%;
    font-size: 1.5rem;
}

.third .video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16/9;
}

.third .video img {
    width: 60%;
    cursor: pointer;
}


.third .cardWrapper {
    overflow: hidden;
}

.third .cards {
    display: flex;
    flex-wrap: nowrap;
    width: 140%;
    animation-name: cardCarousel;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.third .cards .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 15%;
}

.third .cards .card img {
    width: 80%;
    padding-bottom: 10px;
    cursor: pointer;
}

.third .cards .card .tier {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: 'GTFlexaCompressedBold';
}

.third .cards .card .player {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'GTFlexaCompressedThinItalic';
}

.third .cards div.card:nth-child(4)>img:nth-child(1) {
    position: absolute;
    width: 95%;
}

.third .cards div.card:nth-child(4)>div:nth-child(2) {
    position: absolute;
    bottom: 10%;
    left: 60%;
    transform: translateX(-50%);
}

.third .cards div.card:nth-child(5)>img:nth-child(1) {
    top: 0;
    position: absolute;
    width: 88%;
}

.third .cards div.card:nth-child(5)>div:nth-child(2) {
    bottom: 10%;
    position: absolute;
    transform: translateX(-50%);
    left: 55%;
}

.third .cards div.card:nth-child(6)>img:nth-child(1) {
    top: 0;
    width: 88%;
}

.third .cards div.card:nth-child(6)>div:nth-child(2) {
    position: absolute;
    bottom: 10%;
    transform: translateX(-50%);
    left: 55%;
}

.third .cards .third .cards div.card:nth-child(7)>img:nth-child(1) {
    top: 0;
    width: 83%;
}

.third .cards div.card:nth-child(7)>div:nth-child(2) {
    position: absolute;
    bottom: 10%;
    transform: translateX(-50%);
    left: 52%;
}

.modalPlayer,
.modalVideo {
    position: fixed;
    top: 0;
    z-index: 3;
}

.modalPlayer.close,
.modalVideo.close {
    display: none;
}

.modalPlayer .overlay,
.modalVideo .overlay {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0f002d87;
}

.modalPlayer .modal,
.modalVideo .modal {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modalPlayer .arrows {
    position: absolute;
    display: grid;
    width: 50vw;
    height: 100vh;
    grid-template-columns: 1% 1%;
    align-items: center;
    gap: 98%;
    padding: 0 25vw;
}

.modalPlayer .arrows>img {
    display: flex;
    cursor: pointer;
}

.modalPlayer .modal .card>img {
    max-height: 75vh;
}

.modalPlayer .modal .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    gap: 20px;
}


.modalPlayer .modal .card .player {
    font-size: 3rem;
    font-family: 'GTFlexaCompressedThinItalic';
    text-transform: uppercase;
}

.modalPlayer .modal>img {
    position: absolute;
    bottom: 2vh;
    transform: translateX(-50%);
    left: 50%;
    max-height: 8vh;
    cursor: pointer;
}

.modalPlayer .modal .close,
.modalVideo .modal .close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.modalVideo .modal {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalVideo .modal iframe {
    box-shadow: 0px 20px 20px -5px var(--purple);
    width: 60vw;
    aspect-ratio: 16/9;
}

.fourth {
    height: 133vh;
    background: url(./Assets/img/BackGround4.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding: 0 15%;
    flex-direction: column;
    position: relative;
}

.fourth>div {
    z-index: 1;
}

.fourth>div.title {
    width: 100%;
    margin-top: 10vh;
    font-size: 2rem;
    text-transform: uppercase;
    font-size: 6rem;
}

.fourth .title .drops {
    font-family: 'GTFlexaCompressedBoldItalic';
    color: var(--green-fouth);
}

.fourth .title .previous {
    color: var(--green-fouth);
}


.fourth .carousel {
    display: grid;
    grid-template-columns: 18% 18% auto 18% 18%;
    max-width: 130%;
    align-items: center;
}

.fourth .carousel .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.fourth .carousel .card img {
    max-width: 80%;
    cursor: pointer;
}

.fourth .carousel .card .title {
    text-transform: uppercase;
    font-size: 1.7rem;
    max-width: 100%;
    text-align: center;
    font-family: 'GTFlexaCompressedMediumItalic';
}

.fourth .carousel .card.selected {
    height: auto;
}

.fourth .carousel .card.selected .infoWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.fourth .carousel .card .infoWrapper {
    justify-content: center;
    display: flex;
}

.fourth .carousel .card .infoWrapper .subtitle,
.infoWrapper .description {
    display: none;
}

.fourth .carousel .card.selected .infoWrapper .subtitle,
.fourth .carousel .card.selected .infoWrapper .description {
    display: block;
}

.fourth .carousel .card.selected .title {
    color: var(--green-fouth);
    font-size: 2rem;
    max-width: 80%;
}

.fourth .carousel .card .soldout {
    font-size: 1.5rem;
    color: var(--green-fouth);
    font-family: 'GTFlexaCompressedMediumItalic';
    text-transform: uppercase;
    letter-spacing: 1rem;
    position: absolute;
    top: -10%;
}

.fourth .carousel .card.selected .soldout {
    font-size: 2rem;
}

.fourth .carousel .card.selected .subtitle {
    font-family: 'GTFlexaCompressedMediumItalic';
    color: var(--green-fouth);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.fourth .carousel .card.selected.description {
    font-family: 'GTFlexaCompressedMediumItalic';
    text-transform: uppercase;
    font-size: 1rem;
    max-width: 60%;
}

.fourth>img {
    max-width: 5vw;
    cursor: pointer;
    z-index: 1;
}

.fourth .blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.fifth {
    height: 120vh;
    background: url(./Assets/img/BackGround5.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 0 10%;
    flex-direction: column;
    position: relative;
}

.fifth.mobile {
    display: none;
}


.fifth>.title {
    font-size: 7rem;
    text-transform: uppercase;
    width: 90%;
    font-family: 'GTFlexaCompressedBoldItalic';
    color: var(--green-fouth);
    margin-top: 10vh;
}

.fifth .subtitle {
    font-size: 2rem;
    width: 70%;
    font-family: 'GTFlexaCondensedRegular';
}

.fifth .partnerHeader .clubsWrapper {
    flex: 2;
}

.fifth .partnerHeader .starsWrapper {
    flex: 6;
}

.fifth .partnerHeader {
    display: flex;
    width: 100%;
    gap: 20px;
}

.fifth .partnerHeader>div>div {
    font-size: 1.5rem;
    font-family: 'GTFlexaCompressedBold';
    color: var(--green-fouth);
    text-transform: uppercase;
    padding-top: 3px;
}

.fifth .partnerHeader>div>span {
    width: 100%;
    border: .5px solid var(--green-fouth);
    height: 0px;
}

.fifth .partnerHeader>div {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.fifth .partners {
    display: flex;
    width: 100%;
    gap: 20px;
}

.fifth .partners .clubs {
    display: flex;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10%;
}

.fifth .partners .stars {
    display: flex;
    flex: 6;
    align-items: start;
    justify-content: space-between;
}

.fifth .partners>div>.partner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    gap: 10px;
}

.fifth .partners>div>.partner>img {
    aspect-ratio: 4/5;
    width: 7vw;
}

.fifth .partners>div>.partner .title {
    font-family: 'GTFlexaCompressedBold';
    font-size: 1.5rem;
    color: var(--green-main);
    text-transform: uppercase;
    text-align: center;
}

.fifth .sponsorHeader {
    display: flex;
    width: 100%;
    gap: 20px;
}

.fifth .sponsorHeader>div>div {
    font-size: 1.5rem;
    font-family: 'GTFlexaCompressedBold';
    color: var(--green-fouth);
    text-transform: uppercase;
    padding-top: 3px;
}

.fifth .sponsorHeader>div>span {
    width: 100%;
    border: .5px solid var(--green-fouth);
    height: 0px;
}

.fifth .sponsorHeader>div {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.fifth .sponsorHeader .blockchains {
    flex: 4;
}

.fifth .sponsorHeader .wallets {
    flex: 2;
}

.fifth .sponsorHeader .web3 {
    flex: 4;
}

.fifth .sponsorHeader .web3 .title {
    min-width: 40%;
}

.fifth .sponsor {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.fifth .sponsor .blockchains {
    flex: 4;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
}

.fifth .sponsor .wallets {
    flex: 2;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 100%;
}

.fifth .sponsor .web3 {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}

.fifth .sponsor .blockchains img {
    max-width: 28%;
}

.fifth .sponsor .wallets img {
    max-width: 40%;
}

.fifth .sponsor .web3 img {
    width: 40%;
}

.sixth {
    background: #3b0173;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
}

.sixth>.title {
    font-size: 7rem;
    text-transform: uppercase;
    width: 70%;
    font-family: 'GTFlexaCompressedBoldItalic';
    color: var(--green-fouth);
    margin-top: 10vh;
}

.sixth .holders {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    width: 60%;
}

.sixth .holders>div {
    font-size: 1.5rem;
    font-family: 'GTFlexaCompressedBold';
    color: var(--green-fouth);
    text-transform: uppercase;
    padding-top: 3px;
    white-space: nowrap;
}

.sixth .holders>span {
    width: 100%;
    border: .5px solid var(--green-fouth);
    height: 0px;
}

.sixth>.team,
.sixth>.coFounders {
    display: grid;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.sixth>.team img,
.sixth>.coFounders img {
    max-width: 100%;
}

.sixth>.roadmap {
    max-width: 60%;
}

.roadmap>img {
    max-width: 100%;
}

.roadmap .topQuarters,
.roadmap .bottomQuarters {
    display: grid;
    grid-template-columns: 22% 28% 28% 22%;
    transition-duration: 3s;
}


.roadmap .topQuarters {
    margin-top: 2%;
}

.roadmap .bottomQuarters {
    margin-bottom: 2%;
}

.roadmap .topQuarters .Q1 {
    justify-self: start;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.roadmap .bottomQuarters .Q2 {
    justify-self: start;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.roadmap .topQuarters .Q3 {
    justify-self: center;
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.roadmap .bottomQuarters .Q4 {
    justify-self: end;
    grid-column: 4;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.roadmap>div>div>img:nth-child(1) {
    max-width: 70%;
}

.roadmap>div>div>img:nth-child(2) {
    display: none;
}


.roadmap>div>div>img:nth-child(1):hover+img:nth-child(2) {
    display: block;
}

.roadmap>div>.Q1>img:nth-child(2) {
    position: absolute;
    width: 290%;
    transform: translate(-41%, -100%);
    left: 0;
    top: 0;
}

.roadmap>div>.Q2>img:nth-child(2) {
    position: absolute;
    width: 332%;
    transform: translate(-39%, 95%);
    left: 0;
    bottom: 0;
}

.roadmap>div>.Q3>img:nth-child(2) {
    position: absolute;
    width: 332%;
    transform: translate(-35%, -105%);
    left: 0;
    top: 0;
}

.roadmap>div>.Q4>img:nth-child(2) {
    position: absolute;
    max-width: 280%;
    transform: translate(-35%, 103%);
    left: 0;
    bottom: 0;
}

.seventh {
    height: 120vh;
    background: linear-gradient(#3b0173, #1c032a);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 0 10%;
    flex-direction: column;
    position: relative;
}

.seventh .news {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.seventh .news .card {
    border: 2px solid var(--green-fouth);
    padding: 5px;
    border-radius: 30px;
    background: #0e0417;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.seventh .news .card img {
    width: 100%;
    border-radius: 23px 23px 0px 0px;
}

.seventh .news .card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seventh .news .card .info .date {
    font-size: 1rem;
    color: var(--gray-fourth);
    font-family: 'GTFlexaCompressedThinItalic';
}

.seventh .news .card .title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'GTFlexaCompressedBold';
    text-align: center;
    max-width: 70%;
}

.seventh .news .card .minutes {
    font-size: 1.5rem;
    font-family: 'GTFlexaXCompressedThinItalic';
    color: #8651b4;
}

.seventh .news .card .btn.readMore {
    cursor: pointer;
    padding: 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'GTFlexaCompressedBold';
    border: 1px solid #e8d5f9;
    border-radius: 10px;
    color: #e8d5f9;
    margin-bottom: 10px;
}

.seventh .footer .top {
    display: flex;
}


.seventh .footer .top .left {
    display: flex;
    align-items: end;
    width: 50%;
}


.seventh .footer .top .left .shirtum {
    display: flex;
    gap: 5%;
    width: 50%;
    align-items: start;
}


.seventh .footer .top .left .shirtum .text span {
    font-family: 'GTFlexaCompressedBoldItalic';
    color: var(--green-main);
}

.seventh .footer .top .left .shirtum .text {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    line-height: .8;
}


.seventh .footer .top .left .shirtum .shield {
    width: 22%;
}

.seventh .footer .top .left .shirtum img {
    width: 100%;
}


.seventh .joinBtn {
    padding: 1% 3%;
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    font-family: 'GTFlexaCondensedBold';
    border-radius: 15px;
    cursor: pointer;
}

.seventh .footer>img {
    max-width: 80%;
    margin: auto 10%;
}

.seventh .footer {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.seventh .footer .top .rigth {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

.seventh .footer .top .rigth .socials {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    padding-right: 0;
}

.seventh .footer .top .rigth .socials>div {
    aspect-ratio: 1;
    width: 100%;
    cursor: pointer;
}

.seventh .footer .top .rigth .socials .telegram {
    background: url(./Assets/Icons/Telegram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.seventh .footer .top .rigth .socials .discord {
    background: url(./Assets/Icons/discord.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.seventh .footer .top .rigth .socials .instagram {
    background: url(./Assets/Icons/Instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.seventh .footer .top .rigth .socials .twitter {
    background: url(./Assets/Icons/Twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.seventh .footer .top .rigth .socials .twitch {
    background: url(./Assets/Icons/Twitch.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.seventh .footer .top .rigth .socials .tiktok {
    background: url(./Assets/Icons/TikTok.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.seventh .footer .top .rigth .btn.whitepaper {
    font-size: 2rem;
    font-family: 'GTFlexaCondensedBoldItalic';
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    color: var(--green-fouth);
    border-radius: 10px;
    border: 1px solid var(--green-fouth);
    align-items: center;
    padding: 5px;
    cursor: pointer;
    width: 35%;
}

.seventh .footer .top .rigth .btn.whitepaper>img {
    max-height: 40px;
}


@keyframes carousel {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    45% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    70% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }

    95% {
        transform: translateX(-75%);
    }

    100% {
        transform: translateX(0%);
    }
}


@keyframes cardCarousel {
    5% {
        transform: translateX(0%);
    }
    45% {
        transform: translateX(-30%);
    }
    55% {
        transform: translateX(-30%);
    }
    95% {
        transform: translateX(0%);
    }   
}

/*mobile*/
@media (max-width: 700px) {
    html {
        font-size: 3.5vw;
    }

    .nav {
        display: none;
        height: 7vh;
        padding: 5px 0;
    }

    .nav.mobile {
        display: block;
    }



    .nav.mobile .bottomBorder .left {
        left: 0;
        width: 50vw;
    }

    .nav.mobile .bottomBorder .right {
        right: 0;
        width: 50vw;
    }


    .nav.mobile .logo {
        position: absolute;
        top: 3.5vh;
        left: 10vw;
        transform: translate(-50%, -50%);
        transition-duration: .8s;
        background: url(./Assets/Icons/ShieldShirtum.svg);
        background-size: auto;
        background-size: cover;
        aspect-ratio: 4/5;
        width: 2rem;

    }

    .nav.mobile .bars {
        position: absolute;
        top: 3.5vh;
        right: 0;
        transform: translate(-50%, -50%);
        aspect-ratio: 1;
        width: 1.5rem;
        border: 1px solid var(--green-main);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav.mobile .elements.active {
        transform: translateX(0);
    }

    .nav.mobile .elements {
        height: 100vh;
        position: absolute;
        background: linear-gradient(90deg, #042f86, #000243);
        z-index: 10;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        transform: translateX(100%);
        transition-duration: 1s;
    }

    .nav.mobile .elements .close {
        color: var(--green-main);
        font-family: 'GTFlexaExtendedMediumItalic';
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
    }

    .nav.mobile .elements .language {
        display: flex;
        position: initial;
        transform: translate(0);
    }

    .nav.mobile .elements .fixed {
        flex-direction: column;
        width: 90%;
        height: 70%;
        transform: translate(0);
    }

    .nav.mobile .elements .fixed>a {
        max-width: 90%;
    }

    .first {
        background-position: center;
    }

    .first .header {
        width: 80%;
        flex-direction: column;
        padding-right: 10%;
        height: 70vh;
    }

    .first .header .titleWrapper {
        flex: 0;
    }

    .second {
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        height: auto;
        padding: 5vh 0;

    }

    .second .left {
        flex: 0;
    }

    .second .left .title {
        font-size: 5rem;
        padding: 0;
        justify-content: center;
    }

    .second .right {
        flex: 0;
        gap: 20px;
        padding-right: 15%;
    }

    .second .left .boxWrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .second .left .boxWrapper .box {
        width: 95%;
    }

    .third {
        height: auto;
        padding: 5vh 0;
        width: 100%;
        background-position: center;
        justify-content: space-around;
        gap: 40px;
    }

    .third .title {
        font-size: 5rem;
        white-space: nowrap;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .third .description {
        width: 90%;
        text-align: center;
    }

    .third .video img {
        width: 90%;
    }

    .third .cards {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }

    .third .cards div.card>img {
        position: initial !important;
    }

    .third .cards div.card>div {
        position: initial !important;
        transform: translateX(0) !important;
    }

    .modalVideo .modal iframe {
        width: 90vw;
    }

    .fourth {
        display: none;
    }

    .fourth.mobile {
        display: flex;
        width: 100%;
        gap: 10vh;
        padding: 5vh 0;
        height: auto;
    }

    .fourth.mobile .cardWrapper {
        overflow-x: scroll;
        width: 90%;
    }

    .fourth.mobile>div.title {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .fourth.mobile .carousel {
        display: flex;
        flex-wrap: nowrap;
        width: 500%;
        max-width: none;
    }

    .fourth.mobile .carousel .card {
        width: 100%;
    }

    .fourth.mobile .carousel .card .title {
        max-width: 90%;
    }

    .fourth.mobile .carousel .card.selected .soldout {
        font-size: 1.5rem;
        position: initial;
    }

    .fourth.mobile .carousel .card.selected .subtitle {
        text-align: center;
    }

    .fourth.mobile .card.selected .infoWrapper .description {
        font-size: 1.5rem;
    }

    .fourth.mobile>img {
        max-width: 20vw;
    }

    .fifth {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        height: auto;
        padding: 5vh 0;
        gap: 50px;
    }

    .fifth.mobile {
        display: flex;
    }

    .fifth .title {
        margin: 0;
    }

    .fifth .clubsWrapper,
    .fifth .starsWrapper,
    .fifth .blockchainsWrapper,
    .fifth .walletsWrapper,
    .fifth .web3Wrapper {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .fifth .clubsWrapper .clubsHeader,
    .fifth .starsWrapper .starsHeader,
    .fifth .blockchainsWrapper .blockchainsHeader,
    .fifth .walletsWrapper .walletsHeader,
    .fifth .web3Wrapper .web3Header {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
    }

    .fifth .clubsWrapper .clubsHeader .clubs,
    .fifth .starsWrapper .starsHeader .stars,
    .fifth .blockchainsWrapper .blockchainsHeader .title,
    .fifth .walletsWrapper .walletsHeader .title,
    .fifth .web3Wrapper .web3Header .title {
        font-size: 1.5rem;
        font-family: 'GTFlexaCompressedBold';
        color: var(--green-fouth);
        text-transform: uppercase;
        padding-top: 3px;
    }

    .fifth>div>div>span {
        width: 100%;
        border: .5px solid var(--green-fouth);
        height: 0px;
    }

    .fifth .clubsWrapper .clubs,
    .fifth .starsWrapper .stars {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .fifth .blockchainsWrapper .blockchains,
    .fifth .walletsWrapper .wallets,
    .fifth .web3Wrapper .web3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        row-gap: 40px;
    }

    .fifth .blockchainsWrapper .blockchains>img {
        width: 45%;
    }

    .fifth .clubsWrapper .clubs .partner .title,
    .fifth .starsWrapper .stars .partner .title {
        font-family: 'GTFlexaCompressedBold';
        font-size: 1.5rem;
        color: var(--green-main);
        text-transform: uppercase;
        text-align: center;
    }

    .sixth {
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        height: auto;
        padding: 5vh 0;
        gap: 5vh;
    }

    .sixth .title {
        margin: 0;
        width: 90%;
    }

    .sixth .holders {
        width: 90%;
    }

    .sixth .holders>div {
        white-space: initial;
    }

    .sixth>.team,
    .sixth>.coFounders {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .sixth .team img,
    .sixth .coFounders img {
        max-width: 100%;
    }

    .seventh {
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        height: auto;
        padding: 5vh 0;
        gap: 5vh;
    }

    .seventh .news {
        flex-direction: column;
        gap: 20px;
    }

    .seventh .news .card {
        width: 90%;
    }

    .seventh .footer .top {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .seventh .footer .top .left {
        align-items: center;
        width: 90%;
        flex-direction: column;
        gap: 10px;
    }

    .seventh .footer .top .left .shirtum {
        width: 100%;
        align-items: center;
    }

    .seventh .joinBtn {
        width: 50%;
        text-align: center;
    }

    .seventh .footer .top .rigth {
        width: 90%;
        align-items: center;
    }

    .seventh .footer .top .rigth .btn.whitepaper {
        width: 80%;
    }

    .seventh .footer .top .rigth .socials {
        width: 80%;
    }




}

/*Traducciones*/

/*header*/
body.ES .first .header .textsCarousel .text:nth-child(1):after {
    content: '¡Descubre el entorno digital que conecta clubes, deportistas y aficionados en una pasión común! Sumergete en experiencias deportivas físicas y digitales únicas.';
}

body.EN .first .header .textsCarousel .text:nth-child(1):after {
    content: "Experience the vibrant digital ecosystem that unites clubs, athletes, and fans through a shared passion ! Immerse yourself in extraordinary physical and digital sports experiences unlike any other.";
}

body.ES .first .header .textsCarousel .text:nth-child(2):after {
    content: '¡Únete a Shirtum y toma el control! Accede al reparto gratuito de nuestros coleccionables exclusivos y obtén derechos de gobernanza para influir en el futuro de nuestra comunidad.';
}

body.EN .first .header .textsCarousel .text:nth-child(2):after {
    content: "Join Shirtum and take control! Get your hands on complimentary collectibles and acquire governance rights to shape the future of our community.";

}

body.ES .first .header .textsCarousel .text:nth-child(3):after {
    content: 'Completa nuestro álbum de colección y disfruta de recompensas exclusivas en Shirtum W3.0 Collectibles. ¡No te lo pierdas!';
}

body.EN .first .header .textsCarousel .text:nth-child(3):after {
    content: "Take on the challenge of completing our collection album and enjoy exclusive rewards in Shirtum W3.0 Collectibles. Don't miss out!";

}

body.ES .first .header .textsCarousel .text:nth-child(4):after {
    content: '¿Listo para conocer a nuestras estrellas? ¿Te gustaría tener un objeto que haya marcado la carrera de alguno de nuestros partners? Esto y mucho más lo podrás obtener formando parte del Shirtum W3.0 Club.';
}

body.EN .first .header .textsCarousel .text:nth-child(4):after {
    content: "Are you ready to meet our stars? Would you like to own a physical collectible that has marked the career of one of our partners? You can access this extraordinary opportunity and much more in Shirtum Club W3.0.";

}


/*Shirtum w3.0 club*/
body.ES .second .left .boxWrapper .box.basic>div:nth-child(1)::before {
    content: '$SHI es token utility que brinda acceso exclusivo al ';
}

body.EN .second .left .boxWrapper .box.basic>div:nth-child(1)::before {
    content: 'SHI is the utility token that grants access to the ';
}

body.ES .second .left .boxWrapper .box.basic>div:nth-child(2)::before {
    content: 'Al poseer y hacer stake de $SHI, podrás disfrutar de una serie de beneficios reservados sólo para miembros del Club.';
}

body.EN .second .left .boxWrapper .box.basic>div:nth-child(2)::before {
    content: 'By owning and staking SHI, you can enjoy a variety of benefits reserved exclusively for Club members.';
}

/*count*/
/*one*/
body.ES .second .left .boxWrapper .box.numbers .one::before {
    content: 'Consigue $SHI';
}

body.EN .second .left .boxWrapper .box.numbers .one::before {
    content: 'Get $SHI';
}

/*two*/
body.ES .second .left .boxWrapper .box.numbers .two::before {
    content: 'Haz stake de los tokens';
}

body.EN .second .left .boxWrapper .box.numbers .two::before {
    content: 'Stake your tokens';
}

/*three*/
body.ES .second .left .boxWrapper .box.numbers .three::before {
    content: 'Y disfruta de todos los beneficios';
}

body.EN .second .left .boxWrapper .box.numbers .three::before {
    content: 'Enjoy the benefits';
}

/*buy shi*/
body.ES .second .right .buyShi .text::before {
    content: 'Compra $SHI en:';
}

body.EN .second .right .buyShi .text::before {
    content: 'Buy $SHI:';
}

/*SHIRTUM W3.0 COLLECTIBLES*/
body.ES .third .description::before {
    content: '¡Haz staking y recibe gratis los coleccionables de nuestros partners! Reúne, vende, intercambia y evoluciona los coleccionables para completar nuestro álbum digital. ¡Prepárate para desbloquear recompensas únicas y experiencias exclusivas!';
}

body.EN .third .description::before {
    content: 'Stake your tokens and claim free collectibles from our exclusive partners ! Collect, trade, sell, and level up your collectibles to win trophies and conquer the digital album. Brace yourself for mind-blowing rewards and unparalleled experiences !';
}

/*Partners*/
body.ES .fifth .subtitle::before {
    content: 'Decenas de atletas y clubes se han unido ya a Shirtum';
}

body.EN .fifth .subtitle::before {
    content: 'Shirtum has already partnered with countless elite athletes and clubs.';
}